{% extends 'base.html' %} {% block meta %}
<title>Dashboard</title>
{% endblock meta %}

{% block content %}
<h1>DASHBOARDDDDDDD</h1>

<div class="d-flex flex-col m-3">
    <div class="flex-col">
        <h1>Info User</h1>
        <table>
            <tr>
                <td>Nama Depan</td>
                <td>{{ nama_depan }}</td>
            </tr>
            <tr>
                <td>Nama Belakang</td>
                <td>{{ nama_belakang }}</td>
            </tr>
            <tr>
                <td>Nomor HP</td>
                <td>{{ nomor_hp }}</td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>{{ alamat }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ status }}</td>
            </tr>

          {% if request.COOKIES.role == "panitia" %}
            <tr>
                <td>Jabatan</td>
                <td>{{ jabatan }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class=""></div>
    <div class=""></div>

</div>

{% endblock content %}