<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>U-LEAGUE</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="#" class="navbar-brand">U-LEAGUE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mengelola Tim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Peminjaman Stadium</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">List Pertandingan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History Rapat</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <h2 style="text-align: center;">PEMBUATAN PERTANDINGAN</h2>
  <form method="POST" action="update_create_pertandingan">
    {% csrf_token %}
    <label for="stadium">Stadium: </label>
    <select name="stadium" id="stadium">
      <option selected value="{{ data_selected.0.id_stadium }}">{{ data_selected.0.nama }}</option>
      {% for item in data_all %}
        <option value="{{ item.id_stadium }}" data-start-datetime="{{ item.start_datetime }}">{{ item.nama }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="tanggal">Tanggal:</label>
    <input type="date" name="tanggal" id="tanggal">
    <br>
    <p id="selected-start-datetime"></p> <!-- Element to display the selected start datetime -->
    <br>
    <button type="submit" class="btn btn-primary">NEXT</button>
  </form>
  
  <script>
    // JavaScript code to display the selected start datetime
    const stadiumSelect = document.getElementById('stadium');
    const selectedStartDatetime = document.getElementById('selected-start-datetime');
  
    stadiumSelect.addEventListener('change', function() {
      const selectedOption = stadiumSelect.options[stadiumSelect.selectedIndex];
      const startDatetime = selectedOption.getAttribute('data-start-datetime');
      selectedStartDatetime.textContent = startDatetime;
    });
  </script>
  

</form>
</body>
</html>